---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Web Design Alicante" id="intro">
  <Icon slot="eyebrow" name="logomark" class="size-32" />
  <Fragment slot="lead">
    Welcome to your go-to web design service in Ibiza. I create 
    <span class="text-primary">modern</span> websites with 
    <span class="text-primary">lightning-fast</span> performance and a 
    <span class="text-primary">seamless</span> user experience.
    <br><br>
    Hey! I'm Lukasz. I'm a freelance web designer based in Alicante. I'm here to help you create a website, doesn't matter what type of business you do in Alicante. No matter if you live in Alicante city, Benidorm, Elche, Torrevieja, or any other beautiful place around here.

Creating a website might seem hard, but that's where I come in. I make it easy for you. You tell me what you need, and I'll handle the rest. A website that's fast, looks great, and works on any device. That's what you get when you work with me.
  </Fragment>
</ContentSection>
